/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/06/2014, 7:01:39 PM
    Author     : alban
*/

#footer{
    background: none repeat scroll 0% 0% #333;
    border-top: 4px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    background:#252525;
    color:#949494;
    padding:20px;
    text-align:center;
}
#footer a {
    color:#829EAB;
}
.quick_access{
    background: #444;
margin: 10px;
padding: 5px;
border-radius: 5px;
color: #ffffff;
font-weight: 800;
}
.quick_accessdesc{
    font-weight: 400;
line-height: 1;
color: #999;
}
.success-light{
    color:#00cc00;
}