<span style='color: #000' title='Frames'>    98</span><span style='color: #009' title='Memory'>   5120.00 KB</span><span style='color: #900' title='Time'>    549.66 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />

