@charset "utf-8";
/* Text color */
.colr																		{color:#00417e !important;}
.txthover:hover																{color:#42a029 !important;}
.backcolr																	{background-color:#00417e !important;}
.backcolrhover:hover														{background-color:#00417e !important;}
.backcolrdark																{background-color:#00417e !important; background-image:url(../images/dark.png);}
.bordercolr																	{border-color:#00417e !important;}
/* Navigation */
.ddsmoothmenu ul li a:hover, .ddsmoothmenu ul li.current-menu-item a		{background-color:#42a029;}
/* Feedlist thumb hover */
.feedlist ul li:hover a.thumb												{border-left:#00417e solid 5px;}
/* Announcement */
.navigation .announcment:hover a.mlink										{color:#00417e;}
/* Gallery Filter */
ul#filterOptions li a:hover													{background: #00417e;}
ul#filterOptions li.active a												{background: #00417e;}
/* Sponsers Buttons */
.sponsers #controls a.prevBtn:hover, .sponsers #controls a.nextBtn:hover	{background-color:#00417e;}