<!DOCTYPE html>
<html xml:lang="sq" lang="sq" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>OBJprog  - Profile of Bloodline</title>

        <script type="text/javascript" src="http://www.objprog.com/jscripts/jquery-1.11.1.min.js" ></script>
        <link rel="alternate" type="application/rss+xml" title="Latest Threads (RSS 2.0)" href="http://www.objprog.com/syndication.php" />
        <link rel="alternate" type="application/atom+xml" title="Latest Threads (Atom 1.0)" href="http://www.objprog.com/syndication.php?type=atom1.0" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Content-Script-Type" content="text/javascript" />

        <script type="text/javascript" src="http://www.objprog.com/jscripts/prototype.js?ver=1603"></script>
        <script type="text/javascript" src="http://www.objprog.com/jscripts/general.js?ver=1603"></script>
        <script type="text/javascript" src="http://www.objprog.com/jscripts/popup_menu.js?ver=1600"></script>
        <link type="text/css" rel="stylesheet" href="http://www.objprog.com/cache/themes/theme12/global.css" />
        <link type="text/css" rel="stylesheet" href="http://www.objprog.com/cache/themes/theme1/mentionme.css" />

        <script type="text/javascript">
            <!--
            var cookieDomain = "";
            var cookiePath = "/";
            var cookiePrefix = "";
            var deleteevent_confirm = "Are you sure you want to delete this event?";
            var removeattach_confirm = "Are you sure you want to remove the selected attachment from this post?";
            var loading_text = 'Loading. <br />Please Wait..';
            var saving_changes = 'Saving changes..';
            var use_xmlhttprequest = "1";
            var my_post_key = "883f55a931162ba296b01d9899e1d5e9";
            var imagepath = "images";
            // -->


            & nbsp; & nbsp; & nbsp; & nbsp; jQuery.noConflict();
                    jQuery(document).ready(function($) {

                var menu = $('.nav_menu');
                var origOffsetY = menu.offset().top;

                function scroll() {
                    if ($(window).scrollTop() >= origOffsetY) {
                        $('.nav_menu').addClass('sticky');
                        $('#content').addClass('menu-padding');
                    } else {
                        $('.nav_menu').removeClass('sticky');
                        $('#content').removeClass('menu-padding');
                    }


                }

                document.onscroll = scroll;

            });</script>
        <script type="text/javascript" src="jscripts/fitonpage.js?ver=230"></script>
        <script type="text/javascript">
            <!--
            var fitonpage_on = "1";
            var fitonpage_resize = "900";
            var fitonpage_fluid = "";
            var fitonpage_topbar_resized = "";
            var fitonpage_topbar_full = "";
            var fitonpage_topbar_text_class = "smalltext";
            var fitonpage_topbar_bground = "FFFF99";
            var fitonpage_topbar_icon = "images/icons/information.gif";
            var fitonpage_location = "showthread";
-->
        </script>


        <script type="text/javascript">
            <!--
            function ajaxpmnotice()
            {
                new Ajax.Request
                        (
                                'http://www.objprog.com/pm.php',
                                {
                                    method: 'get', onComplete: function(request)
                                    {
                                        $('ajaxpmnotice').innerHTML = request.responseText;
                                    }
                                }
                        );
            }
            ajaxpmnotice();
            setInterval("ajaxpmnotice()", 20000);
            // -->
        </script>
        <link rel="canonical" href="http://www.objprog.com/u-Bloodline" />
    </head>
    <body>

        <div id="panel">


            <div class="navigation">

                <span class="active">Profile of Bloodline</span>
                .
            </div>

            <div class="copynavigation">

                <a href="http://www.objprog.com/index.php" style="background: none;color: #4C9ED9;padding: 0;margin: 0;" >OBJprog </a>

                <span style="font-size: 17px;" > ➠  </span>

                <span class="active">Profile of Bloodline</span>


            </div>

            <div id="panelb">

                <a href="http://www.objprog.com/search.php?action=getnew"> Postime te reja </a> &nbsp; <a href="http://www.objprog.com/usercp.php">Setting</a>
                <span class="myalerts_popup_wrapper">
                    &mdash; <a href="http://www.objprog.com/usercp.php?action=alerts" class="unreadAlerts myalerts_popup_hook" id="unreadAlerts_menu">Alerts (0)</a>
                    <div id="unreadAlerts_menu_popup" class="myalerts_popup" style="display:none;">
                        <div class="popupTitle">Recent Alerts</div>
                        <ol>

                            <li class="alert_row pmAlertRow" id="alert_row_popup_5">
                                <a class="avatar" href="u-Bloodline"><img src="images/avatars/noavatar150.png" alt="Bloodline's avatar" width="24" height="24" /></a>
                                <div class="alertContent">
                                    <a href="http://www.objprog.com/u-Bloodline"><span style="color: #FF0000;"><strong><em>Bloodline</em></strong></span></a> sent you a new private message titled "<a href="http://www.objprog.com/private.php?action=read&amp;pmid=99">test</a>". (06-17-2014, 02:58 PM)
                                </div>
                            </li>

                        </ol>
                        <div class="popupFooter"><a href="usercp.php?action=alerts">View Alerts</a></div>
                    </div>
                </span>

                &nbsp; <a href="http://www.objprog.com/modcp.php">Mod CP</a>
                <a href="http://www.objprog.com/private.php" class="buttons_cp">Inbox</a> <a href="http://www.objprog.com/member.php?action=logout&amp;logoutkey=fd32001b97537a3c25450e15809fa8a9">Log Out</a>

            </div>
        </div>
        <a name="top" id="top"></a>
        <div id="header">

            <div class="nav_menu">
                <div class="boxed">
                    <div class="logo">
                        <a href="http://www.objprog.com/index.php"><img src="http://www.objprog.com/images/logo.png" alt="OBJprog " title="OBJprog " width="120" height="40" /></a>
                    </div>

                    <div class="menu">
                        <ul>
                            <li><a href="http://www.objprog.com">Home</a></li>
                            <li><a href="http://www.objprog.com/forum.php">Forum</a></li>
                            <li><a href="http://www.objprog.com/search.php">Search</a></li>
                            <li><a href="http://www.objprog.com/irc-channel.php">IRC Channel</a></li>
                            <li><a href="http://www.objprog.com/objprog.php" >Tutoriale</a></li>   				</ul>
                    </div>
                </div>
            </div>
        </div>





        <div id="content">







            <div id="container">


                <table>
                    <tr>
                        <td colspan="2" id="usercpcontdiv">Profile of Bloodline</td>
                    </tr>
                    <tr>
                        <td  style='display:table;'>

                            <table cellspacing="0" cellpadding="0" border="0">
                                <tr>
                                    <td  align="center" valign="middle"><img src="images/avatars/noavatar150.png" alt="" width="84" height="84" /></td>
                                </tr>
                                <tr><td>
                                        <span class="largetext" style="font-weight:bold;"><span style="color: #FF0000;"><strong><em>Bloodline</em></strong></span></span><br />
                                        <span class="smalltext">
                                            (Krijues i OBJprog)<br />

                                            <img src="objimg/ranks/Administrator.png" alt="Krijues i OBJprog" title="Krijues i OBJprog" /><br />

                                            <img src="images/star.gif" border="0" alt="*" /><img src="images/star.gif" border="0" alt="*" /><img src="images/star.gif" border="0" alt="*" /><img src="images/star.gif" border="0" alt="*" /><img src="images/star.gif" border="0" alt="*" /><img src="images/star.gif" border="0" alt="*" /><img src="images/star.gif" border="0" alt="*" /><img src="images/star.gif" border="0" alt="*" /><img src="images/star.gif" border="0" alt="*" /><br />
                                            <br />
                                            <strong>Registration Date:</strong> 06-05-2013<br />
                                            <strong>Date of Birth:</strong> Hidden <br />
                                            <strong>Local Time:</strong> 06-20-2014 at 11:49 PM<br />
                                            <strong>Status:</strong> 
                                            <a href="online.php"><span class="online" style="font-weight: bold;">Online</span></a> (Viewing Profile of <a href="u-Bloodline">Bloodline</a> @ 11:49 PM)

                                        </span>
                                    </td>

                                </tr>
                            </table>

                        </td>
                        <td>
                            <table cellspacing="0" cellpadding="0" border="0" align="center" >
                                <tr>
                                    <td valign="top">
                                        <table border="0" cellspacing="1" cellpadding="4" >

                                            <tr>
                                                <td class="trow1"><strong>Joined:</strong></td>
                                                <td class="trow1">06-05-2013</td>
                                            </tr>
                                            <tr>
                                                <td class="trow2"><strong>Last Visit:</strong></td>
                                                <td class="trow2">Today 11:49 PM</td>
                                            </tr>
                                            <tr>
                                                <td class="trow1"><strong>Total Posts:</strong></td>
                                                <td class="trow1">69 (0.18 posts per day | 62.16 percent of total posts)<br /><span class="smalltext">(<a href="search.php?action=finduserthreads&amp;uid=1">Find All Threads</a> &mdash; <a href="search.php?action=finduser&amp;uid=1">Find All Posts</a>)</span></td>
                                            </tr>

                                            <tr>
                                                <td class="trow2"><strong>Time Spent Online:</strong></td>
                                                <td class="trow2">1 Week, 3 Days, 3 Hours, 28 Minutes, 55 Seconds</td>
                                            </tr>


                                            <tr>
                                                <td class="trow1"><strong>Reputation:</strong></td>
                                                <td class="trow1"><strong class="reputation_positive">12</strong> [<a href="reputation.php?uid=1">Details</a>] </td>
                                            </tr>


                                            <tr>
                                                <td class="trow2"><strong>Warning Level:</strong></td>
                                                <td class="trow2"><a href="usercp.php">0%</a> </td>
                                            </tr>

                                        </table>


                                        <table border="0" cellspacing="1" cellpadding="4" >


                                            <tr>
                                                <td class="trow1" width="40%"><strong>Gjinia:</strong></td>
                                                <td class="trow1" width="60%">Male</td>
                                            </tr>


                                            <tr>
                                                <td class="trow2" width="40%"><strong>Gjuhet Programmuese:</strong></td>
                                                <td class="trow2" width="60%">PHP,C++,Java</td>
                                            </tr>


                                            <tr>
                                                <td class="trow1" width="40%"><strong>Sistemi  Operativ:</strong></td>
                                                <td class="trow1" width="60%">Arch Linux</td>
                                            </tr>


                                            <tr>
                                                <td class="trow2" width="40%"><strong>Punon::</strong></td>
                                                <td class="trow2" width="60%"></td>
                                            </tr>


                                            <tr>
                                                <td class="trow1" width="40%"><strong>Location:</strong></td>
                                                <td class="trow1" width="60%">Kosovë</td>
                                            </tr>


                                            <tr>
                                                <td class="trow2" width="40%"><strong>Bio:</strong></td>
                                                <td class="trow2" width="60%">Ju lutem mos më dërgoni PM(Private Mesazh) për ndihmë. Nëse më dërgoni PM për ndihëm përgjigja do të jet që ta përdorni forumin për ndihëm tani e keni buttoni shum thjesht për të kërkuar ndihëm, nëse ju më dërgoni shum PM rreth ndihmë atëher un do tju vendos në listen e injorimeve. Kjo na lejon neve si staff të ofrojm mbështetje dhe ndihmë sa më të mir.</td>
                                            </tr>


                                        </table>

                                        <table border="0" cellspacing="1" cellpadding="4"  class="tborder" style="border:none;">
                                            <tr>
                                                <td class="trow1" width="40%"><strong>Homepage:</strong></td>
                                                <td class="trow1"><a href="http://www.objprog.com/" target="_blank">http://www.objprog.com/</a></td>
                                            </tr>

                                            <tr>
                                                <td class="trow2"><strong>Email:</strong></td>
                                                <td class="trow2"><a href="member.php?action=emailuser&amp;uid=1">Send Bloodline an email.</a></td>
                                            </tr>

                                            <tr>
                                                <td class="trow1"><strong>Private Message:</strong></td>
                                                <td class="trow1"><a href="private.php?action=send&amp;uid=1">Send Bloodline a private message.</a></td>
                                            </tr>
                                            <tr>
                                                <td class="trow2"><strong>ICQ Number:</strong></td>
                                                <td class="trow2"></td>
                                            </tr>
                                            <tr>
                                                <td class="trow1"><strong>AIM Screen Name:</strong></td>
                                                <td class="trow1"><a href="javascript:;" onclick="MyBB.popupWindow('misc.php?action=imcenter&amp;imtype=aim&amp;uid=1', 'imcenter', 450, 300);">info@objprog.com</a></td>
                                            </tr>
                                            <tr>
                                                <td class="trow2"><strong>Yahoo ID:</strong></td>
                                                <td class="trow2"><a href="javascript:;" onclick="MyBB.popupWindow('misc.php?action=imcenter&amp;imtype=yahoo&amp;uid=1', 'imcenter', 450, 300);">info@objprog.com</a></td>
                                            </tr>
                                            <tr>
                                                <td class="trow1"><strong>MSN ID:</strong></td>
                                                <td class="trow1"><a href="javascript:;" onclick="MyBB.popupWindow('misc.php?action=imcenter&amp;imtype=msn&amp;uid=1', 'imcenter', 450, 300);">info@objprog.com</a></td>
                                            </tr>
                                        </table>

                                        <br />
                                        <table border="0" cellspacing="1" cellpadding="4">


                                            <tr>
                                                <td class="trow1" colspan="2">
                                                    This user has no awards at this time.
                                                </td>
                                            </tr>

                                        </table>



                                        <br /><table border="0" cellspacing="1" cellpadding="4" width="100%">

                                            <tr>
                                                <td class="trow1">
                                                    <ul>
                                                        <li><a href="http://www.objprog.com/modcp.php?action=editprofile&amp;uid=1">Edit this user in Mod CP</a></li>
                                                        <li><a href="http://www.objprog.com/modcp.php?action=banuser&amp;uid=1">Ban this user in Mod CP</a></li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="trow2">
                                                    There are currently no notes on this user<br />
                                                    <a href="http://www.objprog.com/modcp.php?action=editprofile&amp;uid=1">Edit user notes in Mod CP</a>
                                                </td>
                                            </tr>
                                        </table>




                                    </td>
                                </tr>
                            </table>








                            <br />

                            </div>
                            <hr class="hidden" />
                            <div id="copyright">
                                <div id="debug"></div>

                                <!-- The following piece of code allows MyBB to run scheduled tasks. DO NOT REMOVE --><!-- End task image code -->
                                <script type="text/javascript">if (MyBB) {
                                        Event.observe(window, 'load', function() {
                                            MyBB.detectDSTChange('0');
                                        });
                                    }</script>

                            </div>
                            </div>
                            <div id="fullfooter">

                                <div id="footera">
                                    <img src="http://www.objprog.com/images/logo.png" width="170" height="60"></img>
                                    <input type="image" src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg" width="170" height="60" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                        <a href="http://www.tunngle.net/index.php?l=en" target="_blank" title="Tunngle.Net"><img title="Tunngle - Developer" src="http://www.tunngle.net/community/public/style_images/proskin/logoSmall.png"> </a>
                                </div>
                                <div id="footerb">
                                    Të gjitha të drejtat janë të rezervuara nga Staffi OBJprog.com , Alban Mulaki &copy; 2013-2014 <a href="http://objprog.com/" >OBJprog Group</a>.
                                    Sygjerimet, komentet, gabimet mund ti dërgoni në email info@objprog.com ose <a href="http://objprog.com/newthread.php?fid=3" >Klikoni Këtu Krijo Sygjerim</a> 
                                    Disa tema bëhen update më shpesh se të tjerat duke u bazuar në sygjerimin tuaj dhe kommentet e tuaja.

                                </div>
                            </div>

                            <div id="ajaxpmnotice"></div></body>
                            </html>
